@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Inconsolata&family=Noto+Sans:wght@300;400&family=Poppins:wght@300;400;500&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: rgb(159, 179, 197);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434343;
}

main.cards {
    display: flex;
    padding:32px
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 256px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 90%;
}

main.cards section.card h3 {
    margin: 10px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 10px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: white;
}
 
main.cards section.card.contact button {
    background: linear-gradient(to right, #9f66ff, #dfcbff);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #3e8aff, #bbdeff);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #fe5f8f, #ffc7d9);
}

main.cards section.card.contact { 
    box-shadow: 20px 20px 50px -30px #473669;
}
main.cards section.card.shop { 
    box-shadow: 20px 20px 50px -30px #5c53ac;
}
main.cards section.card.about { 
    box-shadow: 20px 20px 50px -30px #e67c7c;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    } 

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
}